<h1>Movies And Movie people Info</h1>

Popular movies right now:
<div *ngIf='popularResponse' class='popularScroll'>
  <div *ngFor='let response of popularResponse.results'>
    <p (click)='movieInfo(response.id)'> {{ response.title }} </p>
    
  </div>
</div>

<br>

Film info:
<input type="text" [(ngModel)]='userFilm'>
<button (click)='movieSearch()'>Search</button>
<div *ngIf='infoResponse'>
  Title:
  {{ infoResponse.title }}
  <br>
  Release Date:
  {{ infoResponse.release_date }}
  <br>
  Rating:
  {{ infoResponse.vote_average }}
  <br>
  Original Language:
  {{ infoResponse.original_language }}
  <br>
</div>
<br>




Titles:
<br>
<div *ngIf='movieResponse' class='filmSearchScroll'>
  <div *ngFor='let response of movieResponse.results'>
    <p (click)='movieInfo(response.id)'> {{ response.title }} </p>
  </div>
</div>
<br>

People:
<input type="text" [(ngModel)]='userActor'>
<button (click)='actorSearch()'>Search</button>
<br>
<div *ngIf='actorInfoResponse'>
  Name:
  {{ actorInfoResponse.name }}
  <br>
  Date of birth:
  {{ actorInfoResponse.birthday }}
  <br>
  <div *ngIf='actorInfoResponse.deathday != null'>
  Dead:
  {{ actorInfoResponse.deathday }}
  </div>
  Department:
  {{ actorInfoResponse.known_for_department}}
  <br>
</div>
<br>
People result:
<br>
<div *ngIf='actorResponse' class='filmSearchScroll'>
  <div *ngFor='let response of actorResponse.results'>
    <p (click)='actorInfo(response.id)'> {{ response.name }} </p>
  </div>
</div>








<router-outlet></router-outlet>